.line {
  font-size: 50px !important;
  font-weight: bold !important;
  width: 100% !important;
  border: 1px black solid !important;
}
.logo2 {
  width: 6rem !important;
  border-radius: 50% !important;
}
p {
  width: 15rem !important;
}
ul {
  list-style: none !important;
  margin-left: -2.5rem !important;
}
.product-list li {
  margin-bottom: 5px;
}
