@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
.product {
  width: 15rem !important;
  height: 18rem !important;
  transition: all 1s !important;
}
.prodiv {
  display: inline-block !important;
  position: relative !important;
}

.product:hover + .blackcart,
.blackcart:hover {
  display: inline-block !important;
  position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;
  color: white !important;
  background-color: black !important;
  padding-top: 8px !important;
  z-index: 55 !important;
}

.blackcart {
  display: none !important;
  transition: background-color 1s;
  height: 2.5rem !important;
  width: 15rem !important;
}
.blackcart:hover {
  background-color: #777777 !important;
}
.price {
  color: #9d9d9d !important;
}
.divclass:hover span {
  display: none;
}
.divclass:hover:before,
.prodiv:hover .price {
  content: "Satın Al";
}

.category {
  width: 100% !important; /* 35rem */
  height: 29rem !important; /* 26rem */
}

.category-yatay {
  width: 90% !important; /* 35rem */
  margin: 0 auto !important;
}
.title {
  display: inline-block !important;
  text-shadow: 2px 2px 9px black !important;
  position: relative !important;
  top: 80% !important;
  font-size: 4vw !important;
  transform: scale(1, 0.85);
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px !important;
  text-decoration: underline !important;
}

.vertical-cat {
  width: 93%;
}
