.product_card {
  width: 15rem !important;
  border: none;
}

.product_card_image {
  height: 16.5rem;
  border-radius: 1rem;
}
.btn-trendyol,
.btn-shopier {
  width: 15rem;
  height: 3.1rem;
}
.btn-shopier {
  background-color: #6700ff;
  box-shadow: 1px 1px 5px #4c00be;
}
.btn-shopier:hover {
  background-color: #5a03db;
}
.btn-shopier span {
  font-weight: bold;
  color: #14f7c4;
  font-size: 1.07rem;
}
.btn-trendyol span,
.btn-shopier span {
  vertical-align: middle;
}
.btn-trendyol {
  position: relative;
  background-color: #fefefe;
  border: 1px solid rgb(206, 206, 206);
  box-shadow: 1px 1px 5px gray;
}

.btn-trendyol span {
  position: absolute;
  top: 28%;
  left: 50%;
  font-weight: bold;
  color: #ff671d;
  font-size: 1.07rem;
}
